html, body{
	margin: 0 auto;
	padding: 0;
}

.dis{
	display: inline-block;
	border: 1px solid #e9e9e9;
}

.a-shirt{
	width: 100%;
	height: 100%;
}

.positive{
	width: 500px;
	height: 500px;
	position: relative;
	overflow: hidden;
	background: url('./t-shirt-0.png');
}

.resverse{
	width: 500px;
	height: 500px;
	position: relative;
	overflow: hidden;
}

img{
	width: 100%;
	height: 100%;
	/*height: unset;*/
}

#imgObj{
	/*position: absolute;*/
}

.positive-box{
	width: 40%;
	height: 78%;
	position: absolute;
    left: 30%;
    top: 14%;
    /*background-color: #ededed;*/
}

.scale{
	width: 32px;
	height: 32px;
	background-color: #f00;
	position: absolute;
	bottom: -16px;
	right: -16px;
	/*cursor: se-resize;*/
	background: url('./scale.png') no-repeat;
}

.rotate{
	width: 32px;
	height: 32px;
	background-color: #f00;
	position: absolute;
	top: -16px;
	right: -16px;
	background: url('./rotate.png') no-repeat;
	/*cursor: se-resize;*/
}

.img-box{
	position: absolute;
	background-color: #abc;
	width: 90px;
	height:120px;
	/*cursor: move;*/
}